.logo {
    $size: 1000px;
    background: black;
    border-radius: 50%;
    height: $size;
    overflow: hidden;
    width: $size;

    &,
    & > * {
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    & > * {
        z-index: 1;
    }

    &:after {
        $offset: 0;
        background: {
            image: url('/img/xerocon-background.jpg');
            position: center center;
            repeat: no-repeat;
            size: cover;
        }
        bottom: $offset;
        content: '';
        display: block;
        left: $offset;
        opacity: 0.5;
        position: absolute;
        right: $offset;
        top: $offset;
        transition: transform 10s ease-out;
    }

    &--dormant#{&}:after {
        transform: scale(1.2);
    }
}

.pin {
    display: block;
}

$heading--offset: 240px;
$heading--height: 38px;
$heading--width: 200px;
$heading--location: 31px;

.heading {
    height: $heading--height;
    width: $heading--width;

    &--xerocon {
        fill: white;
        margin-top: $heading--offset;
    }

    &--location {
        fill: #13B5EA;
        margin-top: $heading--offset + $heading--height;
    }

    &__svg {
        display: block;
        height: $heading--height;
        left: 0;
        position: absolute;
        top: 0;
        width: $heading--width;
    }
}
